<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcone to our restorant</title>
</head>
<body>
    
    <h1> Welcome</h1>
    <h2>what we have for today are</h2>
    <hr>

    


</body>
</html>